*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logotipo{
    width: 500px;
    margin-left: 750px;
}

.denunciar{
    align-items: center;
    justify-content: center;
    text-align: center;
}

main{
    background-color: #1b2029;
}

header{
    background-color: #9d9d9d;
}

.txt{
    font-size: 25px;
    margin: 20px;
    color: white;
}
.e{
    color: white;
    margin-left: 120px;
}


main h1{
    color: white;
    font-size: 45px;
    margin-bottom: 3rem;
}
main .social-media{
    display: flex;
    align-content: center;
    margin-left: 49px;
}

main .social-media a{
    text-decoration: none;
}

main .social-media img{
    width: 36px;
    margin-left: 3rem;
}
main .social-media a:first-child img{
    margin-left: 0;
}
main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main form label{
    display: flex;
    flex-direction: column;
}
main form label span{
    font-size: 1.1rem;
    margin-top: 2rem;
}
main form input{
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: gray;
    font-size: 1.2rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}
main form input[type="submit"]{
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #fc4629;
    color: white;
    font-size: 1.1rem;
    transition: 1.5s;
}
main form input[type="submit"]:hover{
    background: red;
}

main .alternativo{
    margin-top: 1rem;
}

main .alternativo span{
    font-size: 1.1rem;
    font-weight: 400;
    position: relative;
}
main .alternativo span::before, main .alternativo span::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    background: gray;
    right: 50px;
}

main .alternativo span::after{
    left: 50px;
}


.mae{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 1000px;
    margin-top: -150px;
}

.button{
    background-color: #fc4629;
    border: none;
    color: branco;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: px;
    margin: 60px 2px;
    cursor: pointer;
    border-radius: 15px;
}


.button a{
    text-decoration: none;
    font-size: 22px;
    color: white;
}


.button:hover{
    background-color: red;
    transition: 0.3s;
}

.mae span{
    color: white;
    font-size: 23px;
}

.mae{
    margin-top: 90px;
    margin-right: 1000px;
}